@use "./variables";

.about {
  background-color: variables.$bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bg-skills {
    @media screen and (min-width: 768px) {
      display: flex;
      padding: 200px;
    }
  }
}

.vertical-rule {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 500px;
    background-color: white;
  }
}
