@use './Variables';

.footer {
  background-color: Variables.$bg-color;
  font-family: Variables.$secondary-font;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;

  &__info {
    color: Variables.$light-white;
  }
}
