@use "./Variables";

.footer {
  background-color: Variables.$bg-color;
  font-family: Variables.$secondary-font;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &__info {
    text-decoration: none;
    color: Variables.$light-white;

    &--link {
      cursor: pointer;
      color: Variables.$light-purple;
    }
  }
}
