@use './Variables';

.portfolio {
  font-family: Variables.$secondary-font;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 30px;
  background-color: Variables.$bg-color;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 300px;
  }

  &__title {
    margin-bottom: 20px;
    color: white;
  }
}
