@use "./variables.scss";

.btn {
  background-color: transparent;
  padding: 10px 5px;
  color: white;
  font-family: variables.$primary-font;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    border: none;
    font-size: 30px;

    transition: transform 0.8s ease;
  }
  &:hover {
    @media screen and (min-width: 768px) {
      transform: scale(1.5);
      text-shadow: 0 0 5px variables.$primary-color;
    }
  }
}
