@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap");

$bg-color: #080808;
$light-black: #1a1720c3;
$neon-green: #00ff00;
$deep-purple: #4b0082;
$light-purple: #9370DB;
$deep-blue: #000080;
$deep-red: #8b0000;

$primary-font: "Stick No Bills", sans-serif;
$secondary-font: sans-serif;
